# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# macOS
.DS_Store

# Android build files
android-app/AndroidStudioProjects/DementiaAssistant/build/
android-app/AndroidStudioProjects/DementiaAssistant/app/build/
android-app/AndroidStudioProjects/DementiaAssistant/.gradle/
android-app/AndroidStudioProjects/DementiaAssistant/local.properties

# Gradle
*.gradle
.gradle/
